<nav class="container navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand">CvTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['cv']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">les cvs</a>
      <a class="nav-item nav-link" [routerLink]="['cv/add']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add CV</a>
      <a class="nav-item nav-link" [routerLink]="['mini-word']" routerLinkActive="active">Mini Word</a>
      <a class="nav-item nav-link" [routerLink]="['carte-visite']" routerLinkActive="active">Carte Visite</a>
      <a class="nav-item nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
    </div>
  </div>
</nav>
<br>
